[submodule "src-tauri/crates/open-agent-sdk"]
	path = src-tauri/crates/open-agent-sdk
	url = git@github.com:frogclaw/open-agent-sdk-rust.git
[submodule "libs/markstream-vue"]
	path = libs/markstream-vue
	url = git@github.com:frogclaw/markstream-vue.git
	branch = frogclaw-custom
[submodule "libs/stream-monaco"]
	path = libs/stream-monaco
	url = git@github.com:frogclaw/stream-monaco.git
	branch = main
